[submodule ".vim.symlink"]
	path = .vim.symlink
	url = https://github.com/mgraff/vim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/mgraff/tmux.git
[submodule ".zprezto.symlink"]
	path = .zprezto.symlink
	url = git@github.com:mgraff/prezto.git
